/*Typography*/
h1 {
    font-family: 'Amaranth', sans-serif;
}

h2, h3, h4, p, .display-2 {
    font-family: 'Lato', sans-serif;
}

/*Body, Containers, Rows Styles*/
.bg-info {
    background-color: #f0eeee!important;
}

.container-fluid {
    background-color: #f0eeee!important;
    margin-bottom: 2rem;
    padding-top: 2rem;
}

body{
    background-color: #f0eeee!important;
    overflow-x: hidden;
}

.col-md {
    margin-bottom: 2rem;
    margin-top:2rem;
}

.col-lg {
    text-align: center;
}


/*Nav*/

.navbar {
    background: #fff;
    padding: 0;
    margin: 0;
}

.navbar-light .navbar-nav .nav-link {
    color: #00a89e;
    font-weight: 600;
    font-size: 1.3rem;
    padding-right: 3rem;
}

.navbar-toggler-collapsed {
    color: #00a89e;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 3rem;
}

.navbar-toggler {
    border: none;
}

/*Jumbotron Home & About Pages Only*/
.jumbotron-fluid {
    background-color: #f8f9fa!important;
    font-family: 'Lato', sans-serif;
    padding-top: 10rem!important;
    padding-bottom: 4rem!important;
    }

.murals {
    background-image: url(images/sunshine_and_shadows.jpg);
    background-size: cover;
}



.display-2 {
        font-size: 2rem;
        font-weight: 300;
        line-height: .9;
    }

.lead {
    font-family: 'Amaranth', sans-serif;
    font-weight: 300;
    font-size: 1.4rem;
}




/*Jumbotron Button on Home & About Page Only*/
.btn-primary {
   background-color: #00a89e;
   box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
   border-color: rgba(119, 136, 153, 0.671);
}

.btn-primary:hover, .btn-primary:focus, .btn-focus {
    background-color:#00a89e;
    border-color: rgba(255, 255, 255, 0.5);
    box-shadow: rgb(119, 136, 153);
}

.btn-primary:not([disabled]):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #00a89e;
    border-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
}


/*Jumbotron Contact Page Only*/
.jumbotron-fluid {
    background-color: #f8f9fa!important;
    font-family: 'Lato', sans-serif;
    padding-bottom: 10rem;
}

.contact {
    background-image: url(images/shelby_park_fall2.jpg);
    background-size: cover;
}

/*Footer*/
.footer {
    background-color: #00a89d;
    margin: 0;
    padding-top: 2.2rem;
    padding-bottom: .6rem;
    line-height: 1.4rem;
    color: white;
}

.a-footer {
    color: white;
    text-decoration: none;
    align-content: center;
}

a:hover {
    color: black;
    text-decoration: none;
}

.p-footer {
    margin: 0;
    padding: 0;
}

.col-lg {
        margin: 0!important;
        flex-flow: column;
}

.row {
    margin:0!important;
}





/*MEDIA QUERIES*/

@media (min-width: 576px) { 
    .display-2 {
        font-size: 3rem;
        font-weight: 300;
        line-height: .9;
        }
    
}

@media (min-width: 768px) { 
    
}

@media (min-width: 992px) { 
    
}

@media (min-width: 1200px) { 
    .display-2 {
        font-size: 5.5rem;
        font-weight: 300;
        line-height: 1.2;
    }
}




